/**
 * @file
 * Generic base elements.
 */

.navbar-default .navbar-brand {
  color: var(--color--salmon);
}


.flex-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

