/**
 * @file
 * Generic base elements.
 */

.navbar-default .navbar-brand {
  color: var(--color--salmon);
}


.flex-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
}

.light-gray-bg {
  background-color: var(--color--lightgray);
}

.btn-salmon {
  color:white;
  background-color: var(--color--salmon);
}

.blurb {
  background-image: url(../files/plama.svg);
  background-position: right;
  background-repeat: no-repeat;
}

#profile-menu {
  display: flex;
  flex-direction: column;
}

button.sidebar {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  margin: 2px;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 5px 5px 5px 5px;
  border-style: solid; 
  border-width: 1px;
  border-color: lightgray;
  background-color: var(--color--lightgray);

}

button.sidebar:focus{
  width: 100%;
  border-radius: 5px 0px 0px 5px;
  border-color: var(--color--salmon);
  color: white;
  background-color: var(--color--salmon);
}

button.btn-salmon{
  margin: 2px;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 5px 5px 5px 5px;
  border-style: solid; 
  border-width: 1px;
  border-color: lightgray;
  background-color: var(--color--salmon);
  color:white;
}

button.btn-uw{
    margin: 2px;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0;
    border-style: solid; 
    border-width: 2px;
    border-color: var(--color--uwblue);
    background:none;
}


button:hover{
    filter:brightness(0.98);
}


button.btn-uw:hover{
    color: var(--color--salmon);
    border-color: var(--color--salmon);
    filter:brightness(1);
}


/* Search forms */

#search {
  display: flex;
  flex-direction: column;
}

#advanced-search {
  display: flex;
  flex-direction: column;
}

#submit-search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

input[type="search"] {
  padding: 1rem;
  border-radius: 5px;
  border: solid 1px var(--color--bordergray);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

input:focus {
  outline:none;
  border-color: var(--color--salmon);
}

button[type="submit"] {
  width: 25%;
}

.btn-advanced-search {
  width: 100%;
  text-align: right;
  border: none 1px;
  border-top-style: solid;
  border-color: var(--color--bordergray);
  background: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.btn-advanced-search:focus{
  color:red;
}

#advanced-search {
  display: none;
}


/* Search results */

#search-results {
  width: 100%;
}

#search-results td, #search-results th {
  padding: 1rem;
}

#search-results tr:nth-child(even) {
  background-color: var(--color--lightgray);
}

#search-results tr:hover {
  background-color: var(--color--salmon);
  color: white;
}

#search-results th {
  color: var(--color--thgray);
  font-weight: 400;
  background-color: white;
}