/* Branding: logos shortening and widening */

@media (max-width:768) {
    #logo-uw-full {
        display: none;
    }
    #logo-uw-mobile {
        display: block;
    }
}

@media (min-width:769) {
    #logo-uw-full {
        display: block;
        border-right: 1px solid var(--color--bordergray);
    }
    #logo-uw-mobile {
        display: none;
    }
}